.header__container-center {
    margin: 0 auto;
}

.body__header-main {
    background-color: rgba(12, 11, 0, 0.631);
}

/* 
.header__contact, .header__social {
    display: none;
} */

/* .nav__link {
    font-size: 3rem !important;
} */