/* =====================================

    Project Name    : Gopalan 
    Developed By    : Rohit (rohitwebco@gmail.com / https://github.com/rohitsraj12)

=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* font-family: 'Archivo', sans-serif; */


/* font-family: 'JACKYSHOW', sans-serif; */


*::selection {
  color: rgb(255, 255, 255);
  background: rgb(71, 175, 255);
}

:root {
    --color-white: #ffffff;
    --color-theme: #ffdd09;
    /* --color-theme:  #c69502; */
   
    --color-dark: #212529;
  
    --color-light-gray: #aaaaaa;
    --color-dark-gray: #272727;
  
    --color-text-1: rgb(255, 255, 255);
    --color-text-2: #d2d2d2;
  
    --color-link: rgb(14, 143, 182);
    --font-primary: 'Lobster', cursive;
    --font-secondary: 'Merienda', cursive;
    --font-text: 'Archivo', sans-serif;
    --font-text-1: "Charmonman", sans-serif;
    --font-handwriting: 'Hurricane', cursive;
    --font-handwriting-1: 'Satisfy', cursive;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: var(--font-primary);
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: rgb(252, 252, 252);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(38, 38, 37);
    /* border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #646464;
      background-color: #241f0e;
      box-shadow: inset 0 0 5px rgb(88, 40, 40);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #675d05;
  
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  strong {
      font-weight: 400;
  }
  
  p,
  li {
    font-size: 1rem;
    font-family: var(--font-text);
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.6rem;
    color: var(--color-text-2);
    text-transform: capitalize;
  }

  small {
    font-size: 0.9rem;
    font-family: var(--font-primary);
    font-weight: 400;
    color:rgb(131, 131, 131);
  }

  .backgroud__dark {
    background-color: #000;
  }

.backgroud__img-1 {
    background-color: rgba(0, 0, 0, 0.842);
    position: relative;
}

.backgroud__img-1::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/reservation.jpg);
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  /* ===================================
  
      Default styling
  
  =====================================*/
    .body__wrap {
        position: relative;
    }

    .sub__style, .sub__style-center{
        position: relative;
        display: inline-block;
    }

    .sub__style::after{
        content: "";
        width: 100px;
        height: 1px;
        background-color: var(--color-light-gray);
        position: absolute;
        top: 14px;
        right: -115px;
        z-index: 10;
    }

    .sub__style-center::before{
        content: "";
        width: 100px;
        height: 1px;
        background-color: var(--color-light-gray);
        position: absolute;
        top: 14px;
        left: -115px;
        z-index: 10;
    }

    .sub__style-center::after{
        content: "";
        width: 100px;
        height: 1px;
        background-color: var(--color-light-gray);
        position: absolute;
        top: 14px;
        right: -115px;
        z-index: 10;
    }

    .btn__primary {
        display: inline-block;
        border: none;
        padding: 12px 30px;
        background-color: transparent;
        background-image: url(../img/bg/bg-btn.svg);
        background-size: cover;
        color: #282828;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;
}

  .btn__primary:hover {
        color: #282828;
        opacity: 0.8;
        transform: scale(1.06) ;
        -webkit-transform: scale(1.06) ;
        -moz-transform: scale(1.06) ;
        -ms-transform: scale(1.06) ;
        -o-transform: scale(1.06) ;
}

  .btn__link {
    color: var(--color-theme);
}
  /* Typography
  ===================================== */
  .page__header {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-theme);
  }
  
  .page__header-sub {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 400; 
    color: #4856a8;
  }

  .primary__header {
    font-family: var(--font-secondary);
    font-size: 2.9rem;
    font-weight: 400;  
    color: var(--color-theme);
    line-height: 3rem;
    
  }

  .primary__header-sub {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 400; 
    color: var(--color-white);
    /* opacity: 0.3; */
  }

  .secondary__header {
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 300; 
    color: var(--color-theme);
    /* color: #fff; */
  }

  .article__header {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 400;  
    color: var(--color-white);

    line-height: 3rem;
  }

  .tagline__header {
    font-family: var(--font-secondary);
    font-size: 1.7rem;
    font-weight: 400;  
    color: var(--color-white);

    line-height: 3rem;

  }
/* ===================================

    Typography
    -   nav link

=====================================*/

.header__container {
    width: 95%;
    margin: 0 auto;
}

.wrap__container {
    width: 85%;
    margin: 0 auto;
}

.border__x {
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
}

.border__t {
    border-top: 1px solid #2a2a2a;
}

.border__b {
    border-bottom: 1px solid #2a2a2a;
}

.bg__dark {
    background-color: #0c0b09;
}
/* ===================================

    #body header

======================================*/
.body__header {
    width: 100%;
    z-index: 999;
}

.body__header-absolute {
    position: absolute;
}

.body__header-fixed {
    position: absolute;
}

/* body header top
====================================== */
.body__header-top {
    padding: 10px 0;
}

.header__social {
    text-align: right;
}

.header__contact-list, .header__social-list {
    display: inline-block;
}

.header__contact-list i, .header__social-list i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    font-size: 1.1rem;
    color: rgb(21, 21, 21);
    background-image: url(../img/bg/bg-icon-btn.svg);
    background-size: cover;
}

.header__contact-list i, .header__social-list i {
    font-size: 0.9rem;
}

.header__contact-list + li {
    margin-left: 25px;
} 

.header__social-link i {
    font-size: 1.2rem;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.header__social-list + li {
    margin-left: 0px;
} 

.header__contact-link {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(226, 226, 226);
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.header__contact-link:hover {
    color: rgb(184, 184, 184);
}

.header__social-link i:hover{
    color: #7e7e7e;
}

/* body header main
======================================= */
.body__header-main {
    background-color: #0000002d;
    border-top:1px solid rgba(95, 69, 35, 0.389);
    border-bottom:1px solid rgba(95, 69, 35, 0.389);
}

.body__header-main .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__brand img {
    /* width: 145px; */
    height: 130px;
}

.main__nav {
    display: flex;
}

.nav__list + li {
    margin-left: 40px;
}

.nav__link {
    font-family: var(--font-secondary);
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(147, 85, 4, 0.887);
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.nav__link:hover, .active__nav{
    color: var(--color-theme);
}

/* ==================================

    #body footer

======================================*/
.footer__header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 2px dotted rgba(181, 181, 181, 0.6);
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-theme);
}
.footer__figure {
    width: 100%;
    height: 50px;
}

.body__footer {
    border-top: 1px solid rgb(41, 41, 41);
    
    background-color: #0c0b09f0;
    position: relative;
}

.body__footer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/banner/about_us-1.jpg);
    background-size: cover;
    background-position: bottom center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer__nav-list, .footer__contact-list {
    padding-left: 15px;
}

.footer__nav-link {
    margin-bottom: 10px;
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(208, 208, 208);
    /* text-transform: uppercase; */
    text-shadow: 0 0 10px rgba(147, 85, 4, 0.887);

    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}


.footer__nav-link:hover {
    color: var(--color-theme);
    padding-left: 10px;
}

.footer__copy-right {
    border-top: 1px solid rgb(41, 41, 41);

    background-color: #111010d8;
}

.footer__contact-list {
    margin-bottom: 10px;
}

.footer__contact-list i {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* background-color: var(--color-theme); */
    background-image: url(../img/bg/bg-icon-btn.svg);
    background-size: cover;
    color: rgb(27, 27, 27);
}

.footer__contact-link {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(208, 208, 208);
    text-shadow: 0 0 10px rgba(147, 85, 4, 0.887);

    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.footer__contact-link:hover {
    color: rgb(208, 208, 208);
}


/* .footer__contact-list + li {
    margin-left: 25px;
}  */

.footer__social {
    display: flex;
    
}

.footer__social-link i {
    font-size: 1.2rem;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.footer__social-list + li {
    margin-left: 0px;
} 

.footer__social-link {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(226, 226, 226);
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}
.footer__social-list i {
    width: 30px;
    height: 30px;
    line-height:30px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    font-size: 1.1rem;
    color: rgb(21, 21, 21);
    background-image: url(../img/bg/bg-icon-btn.svg);
    background-size: cover;
}
/* ===================================

    #body banner

======================================*/
.body__banner {
    position: relative;
}

.banner__image-desktop{
    position: relative;
}
.other__banner {
    background-color: #121212;
}

.home__banner .banner__image-desktop::after{
    content: "";
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.312); */
    position: absolute;
    top: 0;
    left: 0;
}

.other__banner .banner__image-desktop::after{
    content: "";
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.312);
    position: absolute;
    top: 0;
    left: 0;
}

.home__banner .banner__image-desktop img {
    width: 100%;
    height: 100vh;
}

.other__banner .banner__image-desktop img {
    width: 100%;
    height: 70vh;
}

.home__banner .banner__content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%,calc(-50% + 3px));
}

.other__banner .banner__content {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 40%;
    z-index: 5;
    /* transform: translate(-50%,calc(-50% + 3px)); */
}

.home__banner .banner__header {
    margin-bottom: 40px;
}

.other__banner .banner__header {
    margin-bottom: 20px;
}

.banner__header h2 {
    text-shadow: 0 0 30px rgba(42, 34, 0, 0.8);
}

/* .banner__header h2:first-child{
    padding-bottom: 10px;
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
} */

.home__banner .banner__header h2{
    font-family: var(--font-primary);
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.other__banner .banner__header h2{
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.home__banner .banner__body p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    line-height: 2.2rem;
    text-shadow: 0 0 30px rgba(42, 34, 0, 0.956);
}

.other__banner .banner__body ul li {
    display: inline;
}

.other__banner .banner__body ul li::after {
    content: "/";
    padding: 0 10px;
}

.other__banner .banner__body ul li:last-child:after {
    content: "";
    padding: 0;

}

.other__banner .banner__body a{
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.6rem;
    text-shadow: 0 0 30px rgba(42, 34, 0, 0.956);
}


/* =====================================

    body container

========================================*/

/* craft beer
========================================= */
.section__craft-beer {
    background-color: rgba(0, 0, 0, 0.861);
    position: relative;
}

.section__craft-beer::before {
    
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/banner/about_us-1.jpg);
    background-position: bottom center;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.craft__beer-header {
    padding-top: 20px;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
}
/* .section__craft-beer img {
    width: 100px;
} */

/* section about
======================================== */
.section__about {
    width: 100%;
    /* height: 60vh; */

    background-color: rgba(15, 10, 0, 0.905);
    position: relative;
}

.section__about::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* section why
========================================= */
.section__why {
    /* width: 100%; */
    /* height: 60vh; */
    background-color: #0c0b09;
}

/* section testimonial
=========================================== */
.section__testimonial {
    padding: 60px 0;
    background-color: rgb(0, 0, 0);
}

.blockquote {
    border: 2px solid rgb(47, 47, 47);
    background-color: rgba(4, 4, 0, 0.975);
    /*min-height: 250px;
    */box-shadow: 0 0 30px 2px rgba(96, 96, 96, 0.452);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.blockquote p {
    font-family: var(--font-handwriting-1);
    line-height: 40px;
    font-size: 20px;
    /* font-weight: 300; */
    color: rgb(255, 255, 255);

}

.blockquote .client__name {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: rgb(225, 225, 225);
}

.blockquote .client__profile {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(185, 185, 185);
}

.testimonial__img {
    background-image: url(../img/testimonials/001.jpg);
    width: 400px;
    height: 300px;
}

/* =========================================

  #rotation beer

============================================*/
.rotation__block {
  position: relative;
  border: 1px solid #535353;
  /* background-image: url("../img/icons/beer-icon.png");
  background-repeat: no-repeat; */
  /* background-color: rgba(12, 11, 11, 0.949); */
}

.rotation__block .article__header{
}


.rotation__block::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/beer-1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* .rotation__block::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(12, 11, 11, 0.949);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
} */

.rotation__block .article__body ul li{
  border-bottom: 1px solid #3d3d3ddf ;
  padding: 5px;
  display: flex;
}

.rotation__block .article__body ul li span {
  display: inline-block;
}

.rotation__block .article__body ul li:last-child {
  border-bottom: none ;

}


.rotation__block .article__body ul .left__block-beer {
  width: 130px;
  border-right: 1px solid #1d1d1ddf ;
  color: var(--color-theme);
  font-weight: 100;

}


.rotation__block .article__body ul .right__block-beer{
  padding-left: 6px;
  color: rgb(216, 216, 216);
}

/* =========================================

    #menu

============================================*/
.menu__block {
    margin-bottom: 25px;
}

.menu__block .menu__header {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px dashed rgba(117, 117, 117, 0.6);
}

.dish__name {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-theme);
}

.dish__price {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
}

/* ===================================

    Contact Us Page

=======================================*/
.contact__us-form {
    border: 1px solid #1b1b1a;
    background-color: rgb(25, 23, 23);
    border-radius: 5px;
}

.contact__us-form-header .article__header{
    color: var(--color-theme);
}

/*  Form
======================================== */
.form-label {
    padding-left: 10px;
    font-family: var(--font-secondary);
    color: var(--color-white);
}

.form-control {
    border: 1px solid #303030;
    background-color: #383838;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.form-control:focus {
    border-color: var(--color-theme);
    background-color: rgb(45, 45, 45);
}

/* contact us aside section
========================================= */
.aside__header{
    padding: 8px 20px;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--color-theme);
}

.section__contact_us {
    border: 1px solid #1b1b1a;
    background-color: rgb(25, 23, 23);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact__body {
    
    padding: 12px 20px;
}
.contact__body p, .contact__body address {
    padding: 0;
    margin-bottom: 0;
}

.contact__us-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #646464;
}

.contact__us-block-header {
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: #fff;
}

.conatct__us-block-data a, .conatct__us-block-data address, .conatct__us-block-data span{
    font-family: var(--font-text);
    font-size: 1rem;
    color: rgb(190, 190, 190) !important;
}
.conatct__us-block-data address {
    font-family: var(--font-text);
    font-size: 1rem;
    color: rgb(190, 190, 190) !important;
}

/* Map
======================================= */
.section__map {
    background-color: #111111;
}

.map {
    margin-bottom: 0;
    width: 100%;
    min-height: 400px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

/* =========================================

    #fixed

=============================================*/
.reservation__button {
    width: 200px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    text-align: center;
}

.reservation__button a {
    line-height: 50px;
    display: block;
    font-family: var(--font-secondary);
    background-color: transparent;
    background-image: url(../img/bg/bg-btn.svg);
    background-size: cover;
    color: rgb(25, 25, 25);

    
  -webkit-animation-name: shake;
  animation-name: shake;
  animation: shake 5s ease both infinite;
}


.reservation__button a:hover {
    opacity: 0.8;
}

.reservation__button a i {
    display: inline-block;
    margin-right: 12px;
}



/* animation */
@-webkit-keyframes shake {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    4% {
      -webkit-transform: translateX(-10);
      transform: translateX(-10);
    }
    8% {
      -webkit-transform: translateX(10);
      transform: translateX(10);
    }
    13.2% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    16% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    20% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    24% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    32% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    51% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    52% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    53% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    54% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    55% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    56% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    57% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    58% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    59% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    60% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    61% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    62% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    63% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    64% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    65% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    66% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    67% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    68% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    69% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    70% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    71% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    72% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    73% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    74% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    75% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    76% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    77% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    78% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    79% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    80% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    41%,
    49%,
    81%,
    100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
  }
  @keyframes shake {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    4% {
      -webkit-transform: translateX(-10);
      transform: translateX(-10);
    }
    8% {
      -webkit-transform: translateX(10);
      transform: translateX(10);
    }
    13.2% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    16% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    20% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    24% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    32% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    51% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    52% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    53% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    54% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    55% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    56% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    57% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    58% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    59% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    60% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    61% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    62% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    63% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    64% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    65% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    66% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    67% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    68% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    69% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    70% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    71% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    72% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    73% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    74% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    75% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    76% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    77% {
      -webkit-transform: translate(0, 0) rotate(2.5deg);
      transform: translate(0, 0) rotate(2.5deg);
    }
    78% {
      -webkit-transform: translate(0, 0) rotate(3.5deg);
      transform: translate(0, 0) rotate(3.5deg);
    }
    79% {
      -webkit-transform: translate(0, 0) rotate(-0.5deg);
      transform: translate(0, 0) rotate(-0.5deg);
    }
    80% {
      -webkit-transform: translate(0, 0) rotate(-2.5deg);
      transform: translate(0, 0) rotate(-2.5deg);
    }
    41%,
    49%,
    81%,
    100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
  }
  